# LLM + SQL Interactive Chatbot (MySQL + LangChain)

This notebook allows you to ask **natural language questions** about a MySQL database.
It includes **anti-hallucination few-shot examples**, **read-only SQL guardrails**, and an **interactive chat loop**.

## 1. Environment & API Key

In [1]:
import os
from openai_key import OPENAI_API_KEY

os.environ["OPENAI_API_KEY"] = OPENAI_API_KEY

## 2. LLM Setup

In [2]:
from langchain_openai import ChatOpenAI

llm = ChatOpenAI(
    model="gpt-4o-mini",
    temperature=0.2
)

## 3. Database Connection

In [3]:
from langchain_community.utilities import SQLDatabase

DATABASE_URI = (
    "mysql+pymysql://app_user:App%401234!User@localhost:3306/moviesdb"
)

db = SQLDatabase.from_uri(DATABASE_URI)

print("âœ… Connected to database")
print("ðŸ“¦ Available tables:", db.get_usable_table_names())

âœ… Connected to database
ðŸ“¦ Available tables: ['actors', 'financials', 'languages', 'movie_actor', 'movies']

## 4. SQL Cleaner

In [4]:
def clean_sql(sql: str) -> str:
    sql = sql.strip()
    if sql.startswith("```"):
        sql = sql.replace("```sql", "").replace("```", "").strip()
    return sql

## 5. Read-only SQL Safety Guard

In [11]:
def is_safe_sql(sql: str) -> bool:
    forbidden = ["insert", "update", "delete", "drop", "alter", "truncate"]
    sql_lower = sql.lower()
    return not any(word in sql_lower for word in forbidden)

## 6. ask_db Function (Anti-Hallucination)

In [12]:
def ask_db(question: str):
    schema = db.get_table_info()

    sql_prompt = f"""
You are a MySQL expert.
You MUST generate SQL only using the given schema.
Do NOT invent tables or columns.

Database schema:
{schema}

Examples:
Q: Show all movies
SQL: SELECT title FROM movies;    

Q: List movies released after 2020
SQL: SELECT title, release_year FROM movies WHERE release_year > 2020;

Q: Show top 5 highest rated movies
SQL: SELECT title, imdb_rating FROM movies ORDER BY imdb_rating DESC LIMIT 5;

Q: Which movies made a loss?
SQL:
SELECT m.title
FROM movies m
JOIN financials f ON m.movie_id = f.movie_id
WHERE f.revenue < f.budget;

Q: Show actors in the movie K.G.F: Chapter 2
SQL:
SELECT a.name
FROM actors a
JOIN movie_actor ma ON a.actor_id = ma.actor_id
JOIN movies m ON ma.movie_id = m.movie_id
WHERE m.title = 'K.G.F: Chapter 2';


Now answer this question.

Question:
{question}

Rules:
- Use ONLY tables and columns from schema
- Return ONLY valid MySQL SQL
- Do NOT explain
- Do NOT use markdown
"""

    raw_sql = llm.invoke(sql_prompt).content
    sql_query = clean_sql(raw_sql)

    if not is_safe_sql(sql_query):
        raise ValueError("Unsafe SQL detected. Onb.")

    result = db.run(sql_query)

    explain_prompt = f"""
Question:
{question}

SQL Query:
{sql_query}

SQL Result:
{result}

Explain the result in simple English.
"""

    explanation = llm.invoke(explain_prompt).content
    return explanation

## 7. Interactive Chat Loop

In [ ]:
print("ðŸ¤– Database Chatbot Ready!")
print("Type 'bye', 'exit', or 'quit' to stop.\n")

while True:
    user_question = input("You: ").strip()

    if user_question.lower() in ["bye", "exit", "quit"]:
        print("ðŸ‘‹ Goodbye!")
        break

    if not user_question:
        print("âš ï¸ Please enter a valid question.\n")
        continue

    try:
        answer = ask_db(user_question)
        print("\nðŸ¤– Answer:")
        print(answer)
        print("\n" + "-" * 60 + "\n")

    except Exception as e:
        print("âŒ Error:", e)
        print("Try rephrasing your question.\n")

ðŸ¤– Database Chatbot Ready!
Type 'bye', 'exit', or 'quit' to stop.

You:  how many movies are there in total

ðŸ¤– Answer:
The SQL query you ran is asking for the total number of movies in the "movies" database. The result you received, which is [(39,)], means that there are 39 movies in total. So, in simple terms, there are 39 movies in the database.

------------------------------------------------------------

You:  how many movies released in 1997

ðŸ¤– Answer:
The SQL query you ran is asking for the total number of movies that were released in the year 1997. The result you received, which is [(1,)], means that there is only 1 movie in the database that was released in that year. So, in simple terms, just one movie came out in 1997 according to the data you have.

------------------------------------------------------------