In [ ]:
Variables
Printing
comments
datatypes
typecasting
operators
conditional statements 
functions 
for loop 
while loop
String Handling
String Functions
Escape Characters


List  
Tuple 
Set
Dictionary 

List Comphrehension 
Dictionary Comphrension 

Exception Handling
File Handling
OOPS

args
Kwargs
Generators
iterators

# Variable Declaration

In [1]:
a = 10
b = 3.14
c = "Hello"
d = 'Apple'

# Printing in Python

In [2]:
print("Welcome")

Welcome

In [3]:
print('Python')

Python

In [4]:
a = 10
print(a)

10

In [6]:
b = 20
print("b")
print(b)

b
20

In [7]:
c = 40
print(c)
print("c")

40
c

In [13]:
name = "Abijith"
course = "Computer Vision"
rank = 1
print(name)
print(course)
print(rank)
print("My name is ")
print("My name is ",name)
print("My name is ",name,"and i study")
print("My name is ",name,"and i study",course)
print("My name is ",name,"and i study",course,"also i got rank",rank)

Abijith
Computer Vision
1
My name is
My name is  Abijith
My name is  Abijith and i study
My name is  Abijith and i study Computer Vision
My name is  Abijith and i study Computer Vision also i got rank 1

# Comments

In [15]:
a = 10
b = 5
c = a+b # I am adding a and b here
print(c)

15

In [16]:
print("Apple")
print("Orange")

Apple
Orange

In [17]:
#print("Apple")
print("Orange")

Orange

# Case Sensitiveness

In [18]:
a = 10
A = 20
print(a)
print(A)

10
20

In [19]:
print("apple")

apple

In [20]:
Print("apple")

NameError: name 'Print' is not defined

# Datatypes

In [23]:
a = 10
b = 2.4
c = "Welcome"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [24]:
x = 56
y = 4.5
z = "Chennai"
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
TypeCasting
Operators
Input Reading 
conditional statements

# TypeCasting

In [1]:
#Type , Casting

In [3]:
a = 10
b = float(a)
print(b)
print(type(a))
print(type(b))

10.0
<class 'int'>
<class 'float'>

In [4]:
a = 10.9
b = int(a)
print(b)
print(type(b))

10
<class 'int'>

In [5]:
a = 10.1
b = int(a)
print(b)
print(type(b))

10
<class 'int'>

In [9]:
a = "Sachin"
print(a)
print(type(a))

b = int(a)
print(b)

Sachin
<class 'str'>

ValueError: invalid literal for int() with base 10: 'Sachin'

In [7]:
a = "10"
print(a)
print(type(a))

10
<class 'str'>

In [8]:
a = "10"
print(a)
print(type(a))

b = int(a)
print(b)
print(type(b))

10
<class 'str'>
10
<class 'int'>

In [ ]:
# int ->float            34,56,4564
# float - >int          3242.34343
# str -> int "number"   "77" "dhoni"

# Input Reading

In [10]:
a = "Sachin"
b = "Tedulkar"
c = a+b
print(c)
print(type(a))
print(type(b))
print(type(c))

SachinTedulkar
<class 'str'>
<class 'str'>
<class 'str'>

In [11]:
a = "10"
b = "20"
c = a+b
print(c)
print(type(a))
print(type(b))
print(type(c))

1020
<class 'str'>
<class 'str'>
<class 'str'>

In [12]:
a = int("10")
b = int("20")
c = a+b
print(c)
print(type(a))
print(type(b))
print(type(c))

30
<class 'int'>
<class 'int'>
<class 'int'>

In [14]:
a = input()
b = input()
c = a+b
print(c)
print(type(a))
print(type(b))
print(type(c))

 10
 20

1020
<class 'str'>
<class 'str'>
<class 'str'>

In [15]:
a = int(input())
b = int(input())
c = a+b
print(c)
print(type(a))
print(type(b))
print(type(c))

 10
 20

30
<class 'int'>
<class 'int'>
<class 'int'>

In [16]:
a = int(input("Enter number one "))
b = int(input("Enter number two "))
c = a+b
print(c)
print(type(a))
print(type(b))
print(type(c))

Enter number one  10
Enter number two  20

30
<class 'int'>
<class 'int'>
<class 'int'>

In [17]:
a = float(input())
b = float(input())
c = a+b
print(c)
print(type(a))
print(type(b))
print(type(c))

 10
 20

30.0
<class 'float'>
<class 'float'>
<class 'float'>

In [18]:
# write a code to find the area of rectangle

In [19]:
length = int(input("Enter the length of the rectangle"))
breadth = int(input("Enter the breadth of the rectangle1"))
area = length* breadth
print(area)

Enter the length of the rectangle 10
Enter the breadth of the rectangle1 5

50

# Operators

In [2]:
a = 10
print(a)

#a -> is a variable
#10 -> is the data or value stored in a
# = is the operator which operates 10 assigning to a

10

In [3]:
x 20
# x -> variable
# 20 -> number
print(x)

SyntaxError: invalid syntax (739266936.py, line 1)

In [4]:
#Airthmetic operators

In [6]:
a = 10
b = 5
c1 = a+b
c2 = a-b
c3 = a*b
c4 = a/b
print(c1)
print(c2)
print(c3)
print(c4) # in python normal division will return float value
c5 = a//b # floor operator - will return the qotioent or value before the decimal 
c6 = a%b # will the remainder
c7 = a**b # power exponential operaotr
print(c5)
print(c6)
print(c7)

15
5
50
2.0
2
0
100000

In [ ]:
a = 7
b = 2
c1 = a+b
c2 = a-b
c3 = a*b
c4 = a/b 
print(c1)
print(c2)
print(c3)
print(c4) # in python normal division will return float value
c5 = a//b # floor operator - will return the qotioent or value before the decimal 
c6 = a%b # will the remainder
c7 = a**b # power exponential operaotr
print(c5)
print(c6)
print(c7)

In [7]:
#Comparison Operator

In [9]:
a = 10
b = 5
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b) #will return true if LHS == RHS
print(a!=b)

True
False
True
False
False
True

In [10]:
a = 10
b = 10
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b) #will return true if LHS == RHS
print(a!=b)

False
False
True
True
True
False

In [11]:
#Logical operator

In [ ]:
# bring laptop and pendrive only then i will allow inside the class #
# bring laptop or pendrive only then i will allow inside the class

In [14]:
a = 10
b = 5
c = 3
d = 1
print((a>b) and (b>c))
print((a>b) or (b>c))
print(not((a>b) or (b>c)))

True
True
False

In [15]:
print((a>b and b>c) and (a>b or c>d))
        #t                 # t

True

# Conditional Statements

In [ ]:
if condition:
    # code to be executed

In [16]:
a = 10

if a>0:
    print("A is Postive number")

A is Postive number

In [17]:
a = 10

if a>0:
print("A is Postive number")

IndentationError: expected an indented block after 'if' statement on line 3 (332221201.py, line 4)

In [18]:
a = -10

if a>0:
    print("A is Postive number")

In [19]:
a = -10

if a>0:
    print("A is Postive number")
else:
    print("A is Negative number")

A is Negative number

In [20]:
a = 0

if a>0:
    print("A is Postive number")
else:
    print("A is Negative number")

A is Negative number

In [21]:
a = 0

if a>0:
    print("A is Postive number")
elif a==0:
    print("Zero")
else:
    print("A is Negative number")

Zero

In [23]:
a = 35

if a==0:
    print("Zero")
elif a==1:
    print("One")
elif a==2:
    print("Two")
elif a==3:
    print("Three")
elif a==4:
    print("Four")

In [25]:
a = 35

if a==0:
    print("Zero")
elif a==1:
    print("One")
elif a==2:
    print("Two")
elif a==3:
    print("Three")
elif a==4:
    print("Four")
else:
    print("No Condition is mathcing")

No Condition is mathcing

In [ ]:
Functions - simple/arguments/return
for loop  - simple/double/triple
while loop

# Functions

In [ ]:
#  A doctor from Delhi comes to Chennai for a surgery , he lands in Chennai Airport and want to go Adayar , will 
# he buy a car or rent a car in uber or ola ? - Rent Car


# A doctor gets a job in Chennai , he moved with his family and everyday he need to travel to his hospital , will
#he buy a own car or rent a car ? Buy a Car , hires a driver - the driver name is Kumar

what is the job of the driver kumar ?

kumardriver(car,key) # key

In [1]:
p = int(input("Enter the principal"))
n = int(input("Enter the number of years"))
r = int(input("Enter the rate of interst"))

interst = (p*n*r)/100
print(interst)

Enter the principal 200000
Enter the number of years 2
Enter the rate of interst 9

36000.0

In [ ]:
# Bank manager

In [2]:
def interstcalc(p,n,r):
    interst = (p*n*r)/100
    print(interst)

In [4]:
interstcalc(20000,2,10)

4000.0

In [5]:
interstcalc(100000,4,10)

40000.0

In [6]:
interstcalc(10000,2)

TypeError: interstcalc() missing 1 required positional argument: 'r'

In [7]:
def usdtoinr(dollar):
    inr = dollar*90
    print(inr)

In [8]:
usdtoinr(10)

900

In [9]:
usdtoinr(14)

1260

# For Loop

In [ ]:
#play this song in loop - start - end again start - end - again start....

In [10]:
print("Hello")

Hello

In [11]:
print("Hello")
print("Hello")
print("Hello")
print("Hello")

Hello
Hello
Hello
Hello

In [13]:
for i in range(1,5):
    print(i)

1
2
3
4

In [15]:
for a in range(1,5):
    print(a)

1
2
3
4

In [16]:
for abhijith in range(1,5):
    print(abhijith)

1
2
3
4

In [ ]:
intialvalue(i)= 1    condition <5 ? true     print(i)   o/p 1     i=i+1=>1+1=2
i = 2                condition <5 ? true     print(i)   o/p 2     i=i+1=>2+1=3
i = 3                condition <5 ? true     print(i)   o/p 3     i=i+1=>3+1=4
i = 4                condition <5 ? true     print(i)   o/p 4     i=i+1=>4+1=5
i = 5                condition <5 ? false

for i in range(1,1001):
    print("Happy New Year !!!")

for i in range(1,1001):
    print(i,"Happy New Year !!!")

In [19]:
for i in range(10,15):
    print(i)

10
11
12
13
14

In [21]:
for i in range(45,55):
    print(i,"Welcome")

45 Welcome
46 Welcome
47 Welcome
48 Welcome
49 Welcome
50 Welcome
51 Welcome
52 Welcome
53 Welcome
54 Welcome

In [24]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [25]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [ ]:
intialvalue(i)= 1    condition <10 ? true     print(i)   o/p 1     i=i+2=>1+2=3
i = 3                condition <10 ? true     print(i)   o/p 3     i=i+2=>3+2=5

In [27]:
for i in range(56,76,8):
    print(i,"Machine Learning")

56 Machine Learning
64 Machine Learning
72 Machine Learning

for i in range(10) # intial value = 0 , condition <10 , increment 1
for i in range(1,10) # # intial value = 1 , condition <10 , increment 1
for i in range(1,10,3) ## intial value = 1 , condition <10 , increment 3

In [29]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [30]:
for i in range(1,10):
    if i==3:
        break
    else:
        print(i)

1
2

In [34]:
for emideduction in range(1,26):
    if emideduction==25:
        break
    else:
        print(emideduction,"Emi will be deducted this month")

1 Emi will be deducted this month
2 Emi will be deducted this month
3 Emi will be deducted this month
4 Emi will be deducted this month
5 Emi will be deducted this month
6 Emi will be deducted this month
7 Emi will be deducted this month
8 Emi will be deducted this month
9 Emi will be deducted this month
10 Emi will be deducted this month
11 Emi will be deducted this month
12 Emi will be deducted this month
13 Emi will be deducted this month
14 Emi will be deducted this month
15 Emi will be deducted this month
16 Emi will be deducted this month
17 Emi will be deducted this month
18 Emi will be deducted this month
19 Emi will be deducted this month
20 Emi will be deducted this month
21 Emi will be deducted this month
22 Emi will be deducted this month
23 Emi will be deducted this month
24 Emi will be deducted this month

In [35]:
for i in range(1,10):
    if i==3:
        continue
    else:
        print(i)

1
2
4
5
6
7
8
9

In [36]:
for i in range(1,10):
    if i==9:
        break
    else:
        print(i)

1
2
3
4
5
6
7
8

In [38]:
for i in range(1,15):
    if i==9:
        continue
    else:
        print(i)

1
2
3
4
5
6
7
8
10
11
12
13
14

# While Loop

In [ ]:
likes = 0

while likes>=0:
    likes = likes+1
    print(likes)

# String Handling

In [1]:
a = "Hello World"
print(a)
print(len(a))
print(type(a))

Hello World
11
<class 'str'>

In [6]:
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])
print(a[6])
print(a[7])
print(a[8])
print(a[9])
print(a[10])

H
e
l
l
o

W
o
r
l
d

In [9]:
print(a[2:8]) # 2,3,4,5,6,7 will come 8th index will be ignored always right side index will be ignored
print(a[2:])
print(a[:8] )

llo Wo
llo World
Hello Wo

In [12]:
a = "Hello"
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])

o
l
l
e
H

In [18]:
print(a[-4:-1]) # index -4,-3,-2 will come
print(a[-4:])

ell
ello

In [19]:
print(a[4:1]) # right to left is not possible

In [20]:
print(a[-1:-4])

In [21]:
a = "Hello World"

for i in a:
    print(i)

H
e
l
l
o

W
o
r
l
d

In [22]:
a = "Hello World"

if "H" in a:
    print("yes")
else:
    print("no")

yes

# String Handling

In [23]:
a = "hello"
b = a.upper()
print(b)

HELLO

In [24]:
a = "HELLO"
b = a.lower()
print(b)

hello

In [25]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [26]:
a = "hello"
b = a.capitalize()
print(b)

Hello

In [27]:
a = "HELLOworld"
b = a.swapcase()
print(b)

helloWORLD

In [28]:
a = "hello"

if a.islower():
    print("it is in lower case")
else:
    print("it is in upper case")

it is in lower case

In [29]:
a = "HELLO"

if a.islower():
    print("it is in lower case")
else:
    print("it is in upper case")

it is in upper case

In [30]:
a = "HELLO"

if a.isupper():
    print("A is in upper case")
else:
    print("A is in lower case")

A is in upper case

In [31]:
a = "hello44"

if a.isalnum():
    print("It is alpha numeric")
else:
    print("No it is not alpha numeric")

It is alpha numeric

In [32]:
a = "hello 44"

if a.isalnum():
    print("It is alpha numeric")
else:
    print("No it is not alpha numeric")

No it is not alpha numeric

In [35]:
a = "hello     "
print(a)
print(len(a))
b = a.rstrip()
print(b)
print(len(b))

hello
10
hello
5

In [37]:
a = "     hello"
print(a)
print(len(a))
b = a.lstrip()
print(b)
print(len(b))

     hello
10
hello
5

In [38]:
a = "    hello     "
print(a)
print(len(a))
b = a.strip()
print(b)
print(len(b))

    hello
14
hello
5

In [39]:
a = "helloWorld"
b = a.split("W")
print(b)

['hello', 'orld']

In [40]:
a = "Hello how are you"
b = a.split(" ")
print(b)

['Hello', 'how', 'are', 'you']

# Functions with return

In [41]:
def add(a,b):
    c = a+b
    print(c)

In [42]:
add(2,3)

5

In [43]:
def myadd(a,b):
    c = a+b
    return c

In [46]:
d = myadd(2,3)
print(d)
print(d+5)
print(d*10)

5
10
50

In [48]:
a = 10
b = float(a)
print(b+20)

30.0

In [49]:
def myfloat(x):
    y = x+20.0
    return y

In [50]:
ans = myfloat(100)
print(ans)

120.0

# Escape Characters

In [51]:
print("A")

A

In [53]:
print(""")

_IncompleteInputError: incomplete input (3461146339.py, line 1)

In [ ]:
#MLA or MP

In [54]:
print("\"")

"

In [55]:
print("Steve jobs said "be foolish"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3452042872.py, line 1)

In [56]:
print("Steve jobs said \"be foolish\"")

Steve jobs said "be foolish"

In [57]:
print('Your's truly')

SyntaxError: unterminated string literal (detected at line 1) (4104222606.py, line 1)

In [58]:
print('Your\'s truly')

Your's truly

In [59]:
print("\")

SyntaxError: unterminated string literal (detected at line 1); perhaps you escaped the end quote? (2053971215.py, line 1)

In [60]:
print("\\")

\

In [61]:
print("\\\")

SyntaxError: unterminated string literal (detected at line 1); perhaps you escaped the end quote? (2337434698.py, line 1)

In [62]:
print("\\\\")

\\

In [63]:
print("C:\users\Abijith")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \uXXXX escape (3511697018.py, line 1)

In [64]:
print("C:\\users\\Abijith")

C:\users\Abijith

In [66]:
print(r"C:\users\Abijith") # r- raw string

C:\users\Abijith

In [67]:
print(r""")

_IncompleteInputError: incomplete input (1188913862.py, line 1)

# List

In [1]:
#list - list(collection) of students for dance

In [2]:
a = 10
b = 3.14
c = "Hello"

print(a)
print(b)
print(c)

10
3.14
Hello

In [3]:
x = [10,3.14,"Hello"] # X is a Collection of multiple types of data int , float , str
print(x)
print(type(x))
print(len(x))

[10, 3.14, 'Hello']
<class 'list'>
3

In [4]:
x = [10,3.14,"Hello"]
print(x[0])
print(x[1])
print(x[2])

10
3.14
Hello

In [5]:
print(x[-1])
print(x[-2])
print(x[-3])

Hello
3.14
10

In [6]:
a = [2,3,4,5,6,7,8,9]
print(a[2:5])
print(a[2:])
print(a[:5])

[4, 5, 6]
[4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6]

In [7]:
a = [2,3,4,5,6,7,8,9]
print(a[-4:-1])
print(a[-4:])
print(a[:-1])

[6, 7, 8]
[6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8]

In [8]:
a = [2,3,4,5,6,7,8,9]

for i in range(1,5):
    print(i)

1
2
3
4

In [9]:
a = [2,3,4,5,6,7,8,9]

for i in a:
    print(i)

2
3
4
5
6
7
8
9

In [10]:
a = [2,3,4,5,6,7,8,9]

if 3 in a:
    print("yes")
else:
    print("no")

yes

In [11]:
a = [2,3,4,5]
a.append(10)
print(a)

[2, 3, 4, 5, 10]

In [12]:
a = [2,3,4,5]
a.insert(1,"Hello")
print(a)

[2, 'Hello', 3, 4, 5]

In [13]:
a = [4,1,5,2,6,3]
a.sort()
print(a)

[1, 2, 3, 4, 5, 6]

In [14]:
a = [4,1,5,2,6,3]
a.sort(reverse =True)
print(a)

[6, 5, 4, 3, 2, 1]

In [15]:
a = [2,3,4,5,6]
a.pop()
print(a)

[2, 3, 4, 5]

In [16]:
a = [2,3,4,5,6]
a.remove(4)
print(a)

[2, 3, 5, 6]

In [17]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [18]:
a = [2,3,4]
print(a)

[2, 3, 4]

In [20]:
a = []
print(a) # empty list

[]

In [21]:
a = [2,3,4,5]
a.clear()
print(a)

[]

In [22]:
a = [2,3,3,3,3,3,4,5,6,7]
b = a.count(3)

In [23]:
a = [2,3,4,5,6]
b = a.index(4)
print(b)

2

In [24]:
a = [2,3,4,5,6]
b = [8,9,10]
a.extend(b)
print(a)

[2, 3, 4, 5, 6, 8, 9, 10]

In [26]:
a = [2,3,4,5]
b = a.copy()  # collegeapplication xerox , ---> xerox copy
b.append(10)
print(b)
print(a)

[2, 3, 4, 5, 10]
[2, 3, 4, 5]

In [27]:
a = [2,3,4,5]
b = a  # corbon copy
b.append(10)
print(b)
print(a)

[2, 3, 4, 5, 10]
[2, 3, 4, 5, 10]

In [28]:
a = []
b = 10
a.append(b)
print(a)

[10]

In [29]:
a = []
b = int(input("Enter the number"))
a.append(b)
print(a)

Enter the number 10

[10]

In [30]:
a = []
for i in range(1,5):
    b = int(input("Enter the number"))
    a.append(b)
print(a)

Enter the number 10
Enter the number 20
Enter the number 30
Enter the number 40

[10, 20, 30, 40]

In [31]:
a = [2,3,4,5,6,7,8,9]
even = []
odd = []

print(even)
print(odd)

[]
[]

In [32]:
a = [2,3,4,5,6,7,8,9]
even = []
odd = []

for i in a:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)

print(even)
print(odd)

[2, 4, 6, 8]
[3, 5, 7, 9]

In [ ]:
#syntax - [] #Level 1 
#logic - [] #level 2

# Tuple

In [35]:
a = [2,3,4,5]
b = (2,3,4,5)

print(type(a))
print(type(b))

<class 'list'>
<class 'tuple'>

In [36]:
a = [2,3,4,5]
a.append(10)
a.remove(3)
print(a)

[2, 4, 5, 10]

In [37]:
a = (2,3,4,5)
a.append(10)
a.remove(3)
print(a)

AttributeError: 'tuple' object has no attribute 'append'

In [38]:
a = (2,3,4,5)
b = list(a)
b.append(10)
b.remove(3)
a = tuple(b)
print(a)

(2, 4, 5, 10)

In [39]:
a = [10]
print(type(a))

<class 'list'>

In [41]:
a = (10)
print(type(a))

<class 'int'>

In [43]:
a = [10]
b = (10,)
print(type(a))
print(type(b))

<class 'list'>
<class 'tuple'>

In [ ]:
List       Tuple
[]         ()
mutable    immutable
[10]       (10,)
slower     faster

In [44]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [45]:
a = (2,3,4,5)
b = a.index(3)
print(b)

1

In [46]:
a = (2,3,3,3,3,3,3,4,5,6)
b = a.count(3)
print(b)

6

In [47]:
a = (2,3,4,5,6)
for i in a:
    print(i)

2
3
4
5
6

In [48]:
a = (2,3,4,5,6)

if 2 in a:
    print("yes")
else:
    print("no")

yes

In [49]:
a = (2,3,4,5,6)
print(a[2])
print(a[2:5])

4
(4, 5, 6)

# Dictionary

In [2]:
a = [2,31.4,"Hello"]
b = (2,3.14,"Hello")

#dictionary - Book Word:meaning

c = {"A":10}
print(c)
print(type(c))

{'A': 10}
<class 'dict'>

In [3]:
d = {"A":10 , "B":20 , "C":30 }
#keys - A,B,C
#values - 10, 20 , 30

print(d)
print(type(d))
print(len(d))  #1key+1value = 1item

{'A': 10, 'B': 20, 'C': 30}
<class 'dict'>
3

In [4]:
d = {"A":10 , "B":20 , "C":30 }
print(d["A"])

10

In [5]:
d = {"A":10 , "B":20 , "C":30 }
d["E"] = 40
print(d)

{'A': 10, 'B': 20, 'C': 30, 'E': 40}

In [6]:
d = {'A': 10, 'B': 20, 'C': 30, 'E': 40}

for i in d.keys():
    print(i)

A
B
C
E

In [7]:
d = {'A': 10, 'B': 20, 'C': 30, 'E': 40}

for i in d.values():
    print(i)

10
20
30
40

In [8]:
d = {'A': 10, 'B': 20, 'C': 30, 'E': 40}


for i,j in d.items():
    print(i)

A
B
C
E

In [9]:
d = {'A': 10, 'B': 20, 'C': 30, 'E': 40}


for i,j in d.items():
    print(j)

10
20
30
40

In [10]:
d = {'A': 10, 'B': 20, 'C': 30, 'E': 40}

if "A" in d.keys():
    print("Yes")
else:
    print("No")

Yes

In [12]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [13]:
d = {'A': 10, 'B': 20, 'C': 30, 'E': 40}
d.clear()
print(d)

{}

In [14]:
d = {'A': 10, 'B': 20, 'C': 30, 'E': 40}
print(d["A"])
print(d["M"])

10

KeyError: 'M'

In [16]:
d = {'A': 10, 'B': 20, 'C': 30, 'E': 40}
print(d.get("A"))
print(d.get("M"))

10
None

In [17]:
d = {'A': 10, 'B': 20, 'C': 30, 'E': 40}
d.pop()
print(d)

TypeError: pop expected at least 1 argument, got 0

In [18]:
d = {'A': 10, 'B': 20, 'C': 30, 'E': 40}
d.pop("B")
print(d)

{'A': 10, 'C': 30, 'E': 40}

In [19]:
d = {'A': 10, 'B': 20, 'C': 30, 'E': 40}
d.popitem()
print(d)

{'A': 10, 'B': 20, 'C': 30}

In [20]:
d1 = {"A":10 , "B":20 ,"C":30}
d2 = {"X":100}
d1.update(d2)
print(d1)

{'A': 10, 'B': 20, 'C': 30, 'X': 100}

In [21]:
a = ["A","B","C"]
b = dict.fromkeys(a,10)
print(d)

{'A': 10, 'B': 20, 'C': 30}

In [22]:
a = {"A":10 , "B":20  , "C":30 }
a.setdefault("C",40)
print(a)

{'A': 10, 'B': 20, 'C': 30}

In [23]:
a = {"A":10 , "B":20  , "C":30 }
a.setdefault("E",40)
print(a)

{'A': 10, 'B': 20, 'C': 30, 'E': 40}

In [25]:
d1 = {"A":20 , "B":30}
d2 = d1.copy()
d2["C"] = 40
print(d2)
print(d1)

{'A': 20, 'B': 30, 'C': 40}
{'A': 20, 'B': 30}

In [26]:
d1 = {"A":20 , "B":30}
d2 = d1
d2["C"] = 40
print(d2)
print(d1)

{'A': 20, 'B': 30, 'C': 40}
{'A': 20, 'B': 30, 'C': 40}

In [27]:
d = {}
k = input("Enter the keys")
v = int(input("Enter the values"))
d[k] = v
print(d)

Enter the keys A
Enter the values 10

{'A': 10}

In [28]:
d = {}
for i in range(1,5):
    k = input("Enter the keys")
    v = int(input("Enter the values"))
    d[k] = v
print(d)

Enter the keys A
Enter the values 10
Enter the keys B
Enter the values 20
Enter the keys C
Enter the values 30
Enter the keys D
Enter the values 40

{'A': 10, 'B': 20, 'C': 30, 'D': 40}

In [1]:
a = [2,3,4]
b = (2,3,4)
c = {"A":10}
d = {2,3,4}
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [2]:
a = {2,3,4,5}
print(type(a))
print(len(a))

<class 'set'>
4

In [3]:
# cannot contain duplicates
# cannot be indexed

In [5]:
a = {2,3,3,3,3,3,3,3,4,5,6}
print(a)
print(len(a))

{2, 3, 4, 5, 6}
5

In [6]:
a = {2,3,4,5}
print(a[0])

TypeError: 'set' object is not subscriptable

In [7]:
a = {2,3,4,5,6,7}
for i in a:
    print(i)

2
3
4
5
6
7

In [8]:
a = {2,3,4,5,6,7}

if 2 in a:
    print("yes")
else:
    print("no")

yes

In [9]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [10]:
a = {2,3,4,5,6,7}
a.add(10)
print(a)

{2, 3, 4, 5, 6, 7, 10}

In [13]:
a = {"A":10}
a.clear()
print(a)
print(type(a))

{}
<class 'dict'>

In [15]:
a = {2,3,4,5}
a.clear()
print(a)
print(type(a))

set()
<class 'set'>

In [16]:
a = set()
print(a)

set()

In [17]:
a = {2,3,4,5,6}
b = {7,8,9}
c = a.union(b)
print(c)

{2, 3, 4, 5, 6, 7, 8, 9}

In [18]:
a = {2,3,4,5,6}
b = {11,12,13,3,4,15,16}
c = a.intersection(b)
print(c)

{3, 4}

In [19]:
a = {2,3,4,5}
b = {7,8,9}
a.update(b)
print(a)

{2, 3, 4, 5, 7, 8, 9}

In [20]:
a = {2,3,4,5,6}
b = {3,4}
b.issuperset(a)

False

In [21]:
a = {2,3,4,5,6}
b = {3,4}
a.issuperset(b)

True

In [22]:
a = {2,3,4,5,6}
b = {3,4}
b.issubset(a)

True

In [23]:
a = {2,3,4,5}
b = {45,46}
a.isdisjoint(b)

True

In [24]:
a = {2,3,4,5}
a.remove(3)
print(a)

{2, 4, 5}

In [25]:
a = {2,3,4,5}
a.discard(3)
print(a)

{2, 4, 5}

In [26]:
a = {2,3,4,5}
a.remove(35)
print(a)

KeyError: 35

In [27]:
a = {2,3,4,5}
a.discard(35)
print(a)

{2, 3, 4, 5}

In [28]:
a = {2,3,4,5}
a.pop()
print(a)

{3, 4, 5}

In [32]:
a = {2,3,4,5,6}
b = {3,4,11,12}
c = a.difference(b)
print(c)

{2, 5, 6}

In [31]:
a = {2,3,4,5,6}
b = {3,4,11,12}
c = a.symmetric_difference(b)
print(c)

{2, 5, 6, 11, 12}

In [35]:
a = {2,3,4,5,6}
b = {3,4,11,12}
a.difference_update(b)
print(a)

{2, 5, 6}

In [36]:
a = {2,3,4,5,6}
b = {3,4,11,12}
a.symmetric_difference_update(b)
print(a)

{2, 5, 6, 11, 12}

In [37]:
a = {2,3,4,5,6}
b = {3,4,11,12}
a.intersection_update(b)
print(a)

{3, 4}

In [38]:
a = {2,3,4,5,6,7}
b = a
b.add(12)
print(a)
print(b)

{2, 3, 4, 5, 6, 7, 12}
{2, 3, 4, 5, 6, 7, 12}

In [39]:
a = {2,3,4,5,6,7}
b = a.copy()
b.add(12)
print(a)
print(b)

{2, 3, 4, 5, 6, 7}
{2, 3, 4, 5, 6, 7, 12}

# List Comphrehension

In [40]:
a = [2,3,4,5,6]
b = []

for i in a:
    x = i*2
    b.append(x)
print(b)

[4, 6, 8, 10, 12]

In [41]:
a = [2,3,4,5,6]
b = []

for i in a:
    if i>4:
        x = i*2
        b.append(x)
print(b)

[10, 12]

In [ ]:
[expression fa = [2,3,4,5,6]orloop  condition(optional)]

In [42]:
a = [2,3,4,5,6]
b = [i*2 for i in a]
print(b)

[4, 6, 8, 10, 12]

In [43]:
a = [2,3,4,5,6]
b = [i*2 for i in a if i>4]
print(b)

[10, 12]

# Dictionary Comphrension

In [44]:
a = {"A":10 ,"B":20 , "C":30 , "E":40 }
b = {i:j+100 for i,j in a.items()}
print(b)

{'A': 110, 'B': 120, 'C': 130, 'E': 140}

In [45]:
a = {"A":10 ,"B":20 , "C":30 , "E":40 }
b = {i:j+100 for i,j in a.items() if j>20}
print(b)

{'C': 130, 'E': 140}

# Exception Hanlding

In [ ]:
Error - 
Exception -

In [3]:
a = int(input("Enter the price of item one"))
b = int(input("Enter the price of item two"))
c = a+b
print(c)

Enter the price of item one 10rs

ValueError: invalid literal for int() with base 10: '10rs'

In [4]:
try:
    a = int(input("Enter the price of item one"))
    b = int(input("Enter the price of item two"))
    c = a+b
    print(c)

except ValueError:
    print("Pls Enter only Amount not currency")

Enter the price of item one 10rs

Pls Enter only Amount not currency

In [ ]:
YouTube - you are offline

In [5]:
a = int(input())
b = int(input())
c = a/b
print(c)

 10rs

ValueError: invalid literal for int() with base 10: '10rs'

In [6]:
a = int(input())
b = int(input())
c = a/b
print(c)

 10
 0

ZeroDivisionError: division by zero

In [8]:
try:
    a = int(input())
    b = int(input())
    c = a/b
    print(c)

except ValueError:
    print("Enter only number")
except ZeroDivisionError:
    print("Sorry Cannot divide by zero")

 10$

Enter only number

In [ ]:
try:
    #code for transcation

except NoNetworkError :
    print("You are offline")

else:
    print("Transcation Success")
finally:
    print("Thanks for using ATM")

In [12]:
try:
    a = int(input("Enter the price of item one"))
    b = int(input("Enter the price of item two"))
    c = a+b
    print(c)

except ValueError:
    print("Pls Enter only Amount not currency")
else:
    print("Success")
finally:
    print("I will always run")

Enter the price of item one 10
Enter the price of item two 2

12
Success
I will always run

In [14]:
try:
    age = int(input())
    if age>60:
        raise Exception
    else:
        print("You can apply")

except Exception:
    print("Sorry you cannot apply")

 65

Sorry you cannot apply