In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv("forscaling.csv")

In [3]:
dataset

   Age  Salary
0   25   30000
1   30   40000
2   35   50000
3   40   60000
4   45   70000

In [14]:
X = dataset[["Age","Salary"]]

In [15]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [16]:
scaleddataset = scaler.fit_transform(X)

In [17]:
scaleddataset

array([[-1.41421356, -1.41421356],
       [-0.70710678, -0.70710678],
       [ 0.        ,  0.        ],
       [ 0.70710678,  0.70710678],
       [ 1.41421356,  1.41421356]])

In [18]:
from sklearn.preprocessing import MinMaxScaler
normscaler = MinMaxScaler()

In [19]:
ndataset = normscaler.fit_transform(X)

In [20]:
ndataset

array([[0.  , 0.  ],
       [0.25, 0.25],
       [0.5 , 0.5 ],
       [0.75, 0.75],
       [1.  , 1.  ]])